body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a,
figure {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif; }

a {
  text-decoration: none; }

p {
  line-height: 1.6rem; }

a {
  color: black;
  transition: color 0.15s ease; }
  a:hover {
    color: coral; }

a.logo {
  color: black; }

img.mountain {
  display: none; }

/*Helper classes for my burgermenu*/
.nav-active {
  transform: translateX(0); }

.overflow-hidden {
  overflow: hidden; }

/*-------*/
div.grid-container {
  display: grid;
  grid-auto-rows: 12vh auto minmax(300px, auto) minmax(300px, auto);
  grid-template-areas: "nav" "header" "main" "footer"; }

body {
  font-family: "Karla", sans-serif;
  overflow-x: hidden; }

nav {
  background-color: #d6d6d6;
  padding: 0 1rem;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav ul {
    list-style: none;
    width: 40%; }
    nav ul li {
      display: flex;
      justify-content: space-around; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: header;
  background-color: #d6d6d6;
  padding: 1.5rem; }

header p {
  margin-top: 0.5rem;
  width: 70%;
  text-align: center; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
  padding: 1rem 0;
  text-align: center; }

main.index-main p {
  width: 90%;
  text-align: center;
  margin-top: 0.5rem; }
  main.index-main p:first-of-type {
    margin: 0.1rem 0 0 0; }

main.index-main section.gallery {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 350px;
  gap: 1rem; }
  main.index-main section.gallery img.gallery-img {
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4); }

main.about-me-main {
  width: 95%;
  margin: 0 auto; }
  main.about-me-main p {
    margin-top: 0.5rem; }

main.contact-main {
  flex-direction: column; }
  main.contact-main h1 {
    font-weight: 300;
    margin-bottom: 1rem; }
  main.contact-main form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    main.contact-main form input {
      height: 1.6rem;
      border: solid 1px gray;
      background-color: lightgray;
      border-radius: 5px;
      margin: 0.5rem 0; }
    main.contact-main form textarea {
      border: solid 1px gray;
      background-color: lightgray;
      border-radius: 5px;
      margin-top: 0.5rem; }
    main.contact-main form button {
      width: 40%;
      height: 2rem;
      align-self: flex-end;
      border: solid 1px gray;
      background-color: lightgray;
      border-radius: 5px;
      margin-top: 1rem; }

footer {
  grid-area: footer;
  background-color: lightgray; }
  footer section.take-me-up {
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray; }
    footer section.take-me-up h3 {
      font-weight: 500; }

div.burger div.line {
  margin: 0.1rem 0;
  width: 25px;
  height: 4px;
  background-color: black;
  border-radius: 2px; }

@media screen and (min-width: 800px) {
  nav div.burger {
    display: none; }
  header p {
    width: 50%; }
  main.index-main section.gallery {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 2rem; }
  main.index-main p {
    width: 50%;
    text-align: center; }
    main.index-main p:first-of-type {
      margin: 0.1rem 0 0.4rem 0; }
  main.about-me-main {
    flex-direction: column;
    width: 60%;
    margin: 0 auto; }
    main.about-me-main p:nth-child(4) {
      margin-top: 0.5rem; }
  main.contact-main {
    width: 60%;
    margin: 0 auto;
    flex-direction: column; }
    main.contact-main img.mountain {
      display: block;
      width: 400px;
      border-radius: 2px;
      margin-bottom: 1rem; } }

@media screen and (max-width: 799px) {
  nav ul {
    position: fixed;
    background-color: #d6d6d6;
    right: 0;
    height: 88vh;
    top: 12vh;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease; }
    nav ul li {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; } }
