@import "_reset.scss";

div.grid-container {
  display: grid;
  grid-auto-rows: minmax(75px, auto) minmax(300px, auto) minmax(600px, auto)
    minmax(300px, auto);
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

nav {
  grid-area: nav;
  background-color: blue;
}

header {
  grid-area: header;
  background-color: purple;
}

main {
  grid-area: main;
  background-color: seagreen;
}

footer {
  grid-area: footer;
  background-color: sienna;
}

img.gallery-img {
  width: 200px;
}
